/* style scrollbar */
::-webkit-scrollbar {
  width: 1.25em;
  /* position: absolute;
  top: 0;
  bottom: 0; */
  /* display: none; */
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
}
::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 1.25em;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
  width: 1.5em;
}
/* end style scrollbar */

.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
